*.swp
*.md~
data/*
testing/*
!data/all_protein_sequences.txt
!data/ip_90_wGLY.tar.gz
!data/culled_90_0.tar.gz
!data/culled_90_1.tar.gz
!data/culled_90_2.tar.gz
!data/culled_90_3.tar.gz
!data/culled_90_4.tar.gz
!data/culled_90_5.tar.gz
*.pyc
